body {
	margin: 0;
	padding: 0;
	background-color: #1a1a1f;
	font-family: Verdana, sans-serif;
	color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header,
footer {
	width: 100%;
	height: 70px;
	border-bottom: 2px solid #ff3e3e;
	background-color: #1a1a1f;
}

a {
	text-decoration: none;
	color: inherit;
}

footer {
	border-top: 2px solid #ff3e3e;
	padding-top: 20px;
}

.footer_list {
	list-style-type: none;
	justify-content: space-between;
	display: flex;
	margin-right: 100px;
}

main {
	flex: 1;
	display: flex;
}

.sidebar {
	width: 15%;
	padding: 20px;
	border-right: 2px solid #ff3e3e;
	box-sizing: border-box;
}

.pin {
	position: fixed;
	bottom: 100px;
	right: 10px;
}

.pin > a > img {
	width: 50px;
	border-radius: 10px;
}

.dm_img {
	width: 70px;
	float: left;
}

.text {
	flex: 1;
	padding: 20px;
	box-sizing: border-box;
}

input[type='search'] {
	width: 100px;
	background-color: #212127;
	border-radius: 4px;
	border-color: #ff3e3e;
	color: white;
}

.list_users {
	background-color: #212127;
	color: white;
	border-radius: 4px;
	border-color: #ff3e3e;
	color: white;
	width: 200px;
	height: 30px;
	margin: 4px;
}

.sumb {
	background-color: #212127;
	color: white;
	border-radius: 4px;
	border-color: #ff3e3e;
	color: white;
}

.search-block {
	width: calc(100% + 40px);
	margin-left: -20px;
	box-sizing: border-box;
	border-bottom: 2px solid #ff3e3e;
	padding: 0px 20px 10px;
}

.anonim {
	width: 10px;
}

.buttons {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-left: 15px;
}

.header_1 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}

ul {
	list-style-type: none;
}

li {
	margin: 5px;
}

.krass_img {
  float: right;
	border-radius: 15px;
}

.header_second {
	margin-top: 100px;
	text-align: center;
}

.demonzpedia {
	display: inline-block;
	font-size: 20px;
}

.nav_panel{
	display: flex;
	height: 100vh;
}