.header {
	text-align: center;
	padding: 1px;
	background-color: #1A1A1F;
	
}

.content {
	display: flex;
	flex-direction: column;
	background-color: #1A1A1F;
}

.images_left {
	display: flex;
	float: left;
	margin: 10px;
	margin-top: 23px;
	flex-direction: column;
}

.h_2 {
	display: flex;
	margin-left: 10px;
	background-color: #1A1A1F;
}

.images_right {
	display: flex;
	float: right;
	margin: 10px;
	margin-top: 23px;
	flex-direction: column;
}

ul {
	list-style-type: none;
	padding-left: 100px;
}

.h_3 {
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: #1A1A1F;
}

.foto {
	display: flex;
	justify-content: center;
	margin: 100px;
}

.foto_1{
	margin-left: 10px;
	margin-right: 10px;
}

.foto_0 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #1A1A1F;
}

.foto_1>p {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}