.header_1 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}

ul {
	list-style-type: none;
}

li {
	margin: 5px;
}

.krass_img {
  float: right;
	border-radius: 15px;
}

.header_second {
	margin-top: 100px;
	text-align: center;
}

.demonzpedia {
	display: inline-block;
	font-size: 20px;
}

.nav_panel{
	display: flex;
	height: 100vh;
}