.header_1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.search_1 {
  text-align: center;
  margin: 10px;
}

 .search-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
  list-style-type: none;
}

li{
  margin: 5px;
}

.sum_ry {
  display: flex;
}

.details-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.animated-details.opening .details-content,
.animated-details[open] .details-content {
  max-height: 500px;
  opacity: 1;
}

.search_line {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  border: none;
  background-color: #2c2c34;
  color: white;
}